---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Card from '../components/Card.astro';

const posts = await Astro.glob('../posts/*.md');
// const posts = await Astro.glob('../HH-MS-News/posts/*.md');
posts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));

---

<Layout title="HH Medical Staff News">
  <Showcase heading="Medical Staff News" text="Periodic updates for our medical staff" />
  <section class="page-content">
    <div class="container">
      {posts.map(post => (
        <Card>
          <h3>{post.frontmatter.title}</h3>
          <div>
          Written by <strong>{post.frontmatter.author} </strong> on {new Date(post.frontmatter.date).toLocaleDateString()}
        </div>
          <p>{post.frontmatter.excerpt}</p>  
          <a class="more-btn" href={`/${post.frontmatter.slug}`}>Read More</a>
        </Card>
      ))}
    </div>
  </section>
</Layout>


<style>
  
/* Prevent link color change when visited
a,
a:hover, 
a:active  
a:visited {
  color: inherit; 
  color: (var(--color-goldish));
}  */

.more-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: var(--color-secondary);
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
</style>